@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&family=Playwrite+NO:wght@100..400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.playwrite-no-font {
    font-family: "Playwrite NO", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    line-height: 120%;
}
@keyframes whatsapp {
    0% {bottom: 20px;}
    50% {bottom: 40px;}
    100% {bottom: 20px;}
}
#whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: whatsapp 2s infinite ease;
}
body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    color: white;
}
#pagina {
    background-color: rgba(0,0,0, 0.4);
    width: 100%;
    height: 100vh;
}
header {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    transition: background 500ms;
    border-radius: 0px 0px 10px 10px;
}
header:hover {
    background-color: rgba(0,0,0,0.4);
}

#menu nav ul {
    display: flex;
}
#menu nav ul li {
    list-style: none;
}
#menu nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px 0px;
    transition: border 1s, background 1s;
}
#menu nav ul li a:hover {
    border-bottom: 3px solid white;
    background-color: rgb(96, 154, 10);
   
}

main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.titulo-destaque {
    font-size: 4em;
    margin-top: 120px
}
.barra {
    background-color: greenyellow;
    height: 15px;
    width: 100%;
    margin-top: -20px;
    border-radius: 20px 0px 20px 0px;
}
.coluna-50 {
    width: 50%;
}